<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="DBModelContext" connectionString="data source=.\SQLEXPRESS;initial catalog=PosLocal;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="RetailConnectPOS.Properties.Settings.PosLocalConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=PosLocal;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MyCon" connectionString="Data Source=.\SQLEXPRESS;Intial Catalog=PosLocal;Usre Id=sa;Password=8891911" providerName="system.Data.sqlclient"/>
  </connectionStrings>
</configuration>